.imageContainer{
    width: 1100px;
    padding: 30px;
    gap: 10px;

}

.imageContainer img{
	visibility:visible;
}

.imageContainer img{
    background-color: teal;
    gap: 30px;
    
}

img{
    width: 180px;
padding: 10px;
}