.imageContainer{
/*     display: grid; */
/*     grid-template-columns: repeat(3,1fr); */
/*     grid-template-rows: repeat(2,300px); */
    width: 1100px;
    padding: 30px;
    gap: 10px;

}

.image{
    background-color: teal;
    gap: 30px;
    
}

img{
    width: 180px;
padding: 10px;
}